<div class="d-flex flex-column m-4 ">
    <h3 class="text-center text-white">Preços e consumos da Gasolina!!!</h3>

    <div class="d-flex flex-column">
        <label for="preco" class="m-3 mt-3 text-white">Preço da Gasolina:</label>
        <input type="number" placeholder="0" id="preco" [(ngModel)]="precoGasolina" />

        <label for="distancia" class="m-3 mt-3 text-white"> Distancia de Viagem:</label>
        <input type="number" placeholder="0" id="distancia" [(ngModel)]="Distancia" />

        <label for="consumo" class="m-3 mt-3 text-white"> Consumo do Carro:</label>
        <input type="number" placeholder="0" id="consumo" [(ngModel)]="ConsumoGasolina" />

        <button (click)="CalcularGasto()" class="btn btn-warning m-5 text-white">
          Calcular
        </button>
    </div>
    <h4 class="text-center text-white">Valor da gasolina: R$ {{precoGasolina}}</h4>
    <h4 class="text-center text-white">Distancia Percorrida: R$ {{Distancia}}</h4>
    <h4 class="text-center text-white">Consumo de Gasolina: R$ {{ConsumoGasolina}}</h4>
    <h4 class="text-center text-white">Total Gasto em Gasolina: R$ {{Total.toFixed(2)}}</h4>
</div>